.hero {
     /* Add your background image */
    background-size: cover;
    background-position: center;
    height: 450px; /* Adjusted height */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Changed text color to white for better contrast */
}

.hero h1 {
    font-size: 60px; /* Increased font size */
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Added text shadow */
}

.hero p {
    font-size: 22px; /* Adjusted font size */
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Added text shadow */
}
